# Database 

DB_CONNECTION= // Tipo de conexão com o banco de dados (ex: mysql, pgsql, sqlite)
DB_DATABASE= // Nome do banco de dados
DB_ROOT= // Nome de usuário do banco de dados
DB_PASSWORD= // Senha do banco de dados
DB_HOST= // Endereço do servidor do banco de dados (ex: localhost)